<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client />
    <services>
      <service behaviorConfiguration="Mybehavior" name="Services.CommunicationService">
        <endpoint binding="netTcpBinding" bindingConfiguration="MynetTcpBinding" contract="Contracts.ICommunication" address="net.tcp://192.168.0.157:9004/rr">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.157:9005/commServices" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Mybehavior" >
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="MynetTcpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
       <system.serviceModel>
            <behaviors>
                   <serviceBehaviors>
                        <behavior name="metadataBehavior">
                               <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8888/calculatorservice/metadata" />
                        </behavior>
                   </serviceBehaviors>
            </behaviors>
            <services>
                   <service behaviorConfiguration="metadataBehavior" name="Services.CalculatorService">
                         <endpoint address="http://127.0.0.1:8888/calculatorservice"
                                   binding="wsHttpBinding"   
                                   contract="Artech.WcfServices.Contracts.ICalculator" />
                   </service>
      
            </services>
  </system.serviceModel>
  
</configuration>-->